---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Portfolio">
  <main>
    <h1>Hello</h1>
  </main>
</Layout>

<style>
  @import '@algio85/tao/css';

  main {
    padding: var(--tao-spacing-8);
  }
</style>
